

#wrapper
  #sidebar-wrapper  
    %h3{align: "left"}Folder 
    %h4{align: "left"}= link_to 'Inbox', message_index_path(:box_type=>'inbox')
    %h4{align: "left"}= link_to 'Sentbox', message_index_path(:box_type=>'sent')

  #page-content-wrapper
    %h2 #{@sender}
    %h3 #{@message.topic}
    %p #{@message.body}
%br
