%h1 User Profile
%p
  %b Name:
  = @filmmaker.user.name
%p
  %b Email:
  = @filmmaker.user.email
%p
  %b Filmmaker Summary:  
  %a{:id => 'summary'}edit
  %p
    = best_in_place @filmmaker, :summary, inplace_params('summary')
%p
  %b About Me:
  %a{:id => 'about'}edit
  %p
    = best_in_place @filmmaker, :about, inplace_params('about')
%p
  %b Experience Summary:
  %a{:id => 'expSume'}edit
  %p
    = best_in_place @filmmaker, :experience, inplace_params('expSum')
  %b Skills and Expertise:
  = @filmmaker.skills
%p
  %b Links to Work Samples:
%p
  %b Contact Information:
  %a{:id => 'contact'}edit
  %p
    = best_in_place @filmmaker, :contact, inplace_params('contact')
%p
  %b Contact Form:
%p
  %b Client Testimonials:
