%div.col-md-8.col-md-offset-2#filmmaker-div
  %div.row.header-block#pic-n-info
    %div.col-md-3.col-sm-2.col-xs-2#image-div
      =image_tag "lorem-ipsum.jpg", :id => "ourimage"
    %div.col-md-6 
      %h1#filmmaker-name
        = @filmmaker.user.name
      %h4#email
        = @filmmaker.user.email
    %div.col-md-1
      -if owner_of_profile(@filmmaker)
        = link_to 'Edit Profile', edit_filmmaker_path(@filmmaker),{:class => 'btn btn-large', :id => 'edit-button'}
  
  %div.row.header-block.profile-block
    %h3.topic
      %b Filmmaker Summary
    %h4
      = @filmmaker.summary
  
    %h3.topic.extra-space
      %b About Me
    %h4
      = @filmmaker.about
  
  %div.row.header-block.profile-block
    %h3.topic
      %b Experience Summary:
    %h4
      = @filmmaker.experience
    %h3.topic.extra-space
      %b Skills and Expertise:
    %h4
      = @filmmaker.skills
    %h3.topic.extra-space
      %b Links to Work Samples:

  - if user_signed_in? && current_user.id != @filmmaker.user.id
    %div.row.header-block.profile-block
      %h3.topic
        %b Contact This Filmmaker
      %h4
        = form_tag({controller: "message", action: "create"}, method: :post) do
          = hidden_field_tag :recipient_id, @filmmaker.user.id
          %div.row
          %h4 subject
          %div.row
          = text_field_tag :topic, nil
          %div.row
          %h4 body
          %div.row
          = text_area_tag :body, nil, :size => "35x7"
          %div.row
          = submit_tag 'Send email', class:"filmsend-but"
