%h1 User Profile
%p
  %b Name:
  %b= @filmmaker.user.name
%p
  %b Email:
  %b= @filmmaker.user.email
%p
  %b Filmmaker Summary:
  %br= @filmmaker.summary
%p
  %b About Me:
  %br= @filmmaker.about
%p
  %b Experience Summary:
  %br= @filmmaker.experience
%p
  %b Skills and Expertise:
  %br= @filmmaker.skills
%p
  %b Links to Work Samples:
%p
  %b Contact Information:
  %br= @filmmaker.contact
%p
  %b Contact Form:
%p
  %b Client Testimonials:
-if logged_in_as_correct_user @filmmaker.user.id
  = link_to 'Edit Profile', edit_filmmaker_path(@filmmaker)
