%div.col-md-5.col-md-offset-1#filmmaker-div
  %div.row.header-block#pic-n-info
    %div.col-md-3#image-div
      =image_tag "lorem-ipsum.jpg", :id => "ourimage"
    %div.col-md-8#user-info
      %h1#name
        = @filmmaker.user.name
      %h4#organization
        = @filmmaker.user.email
  %div.row#info-box
    %p
      %b Filmmaker Summary:
      %br= @filmmaker.summary
  %div.row#info-box
    %p
      %b About Me:
      %br= @filmmaker.about
  %div.row#info-box  
    %p
      %b Experience Summary:
      %br= @filmmaker.experience
  %div.row#info-box
    %p
      %b Skills and Expertise:
      %br= @filmmaker.skills
  %div.row#info-box
    %p
      %b Links to Work Samples:
  %div.row#info-box
    %p
      %b Contact Information:
      %br= @filmmaker.contact

%div.col-md-5#contact-div
  %p
    %b Contact Form:
  %p
    %b Client Testimonials:
-if logged_in_as_correct_user @filmmaker.user.id
  = link_to 'Edit Profile', edit_filmmaker_path(@filmmaker)
