%div.col-md-5.col-md-offset-1#filmmaker-div
  %div.row.header-block#pic-n-info
    %div.col-md-3#image-div
      =image_tag "lorem-ipsum.jpg", :id => "ourimage"
    %div.col-md-8#user-info
      %h1#name
        = @filmmaker.user.name
      %h4#email
        = @filmmaker.user.email
      -if logged_in_as_correct_user @filmmaker.user.id
        = link_to 'Edit Profile', edit_filmmaker_path(@filmmaker),{:class => 'btn btn-info btn-large'}
  
  %b Filmmaker Summary:
  %div.row#info-box
    %p
      %br= @filmmaker.summary
  
  %b About Me:
  %div.row#info-box
    %p
      %br= @filmmaker.about
  
  %b Experience Summary:
  %div.row#info-box  
    %p
      %br= @filmmaker.experience
  
  %b Skills and Expertise:
  %div.row#info-box
    %p
      %br= @filmmaker.skills

  %b Links to Work Samples:
  %div.row#info-box
    %p
  
  %b Contact Information:
  %div.row#info-box
    %p
      %br= @filmmaker.contact

%div.col-md-5#contact-div
  %p
    %b Contact Form:
  %p
    %b Client Testimonials:
