%div.col-md-8.col-md-offset-2#project-div

  %div.row.header-block#pic-n-info
    %div.col-md-3.col-sm-2.col-xs-2#image-div
      =image_tag "lorem-ipsum.jpg", :id => "ourimage"
    %div.col-md-6
      %a{:id => 'name'}edit
      %h1#name
        = best_in_place @project, :name, inplace_params('input','name')
      %h3#organization
        = link_to @project.organization, project_path(@project.id)
      %a{:id => 'blurb'}edit
      %h4.one-margin
        = best_in_place @project, :blurb, inplace_params('textarea','blurb')
    %div.col-md-1
      =button_to "Delete Project", project_path(:myprojects => :true), :class => "btn btn-md", :method => 'delete', :id => "back-button", :confirm => "Are you sure you want to delete this project?"
  %div.row#pic-n-info2

    %div.col-md-7.info-block#left-block
      %h3
        %b
          Mission
      %a{:id => 'mission'}edit
      %h4.one-margin
        = best_in_place @project, :nonprofit_mission, inplace_params('textarea','mission')
      %h3
        %b
          Description
      %a{:id => 'description'}edit
      %h4.one-margin
        = best_in_place @project, :description, inplace_params('textarea','description')

    %div.col-md-4.info-block#right-block
      %h5.info-title
        Category
      %a{:id => 'category'}edit
      %h2.info-detail
        = best_in_place @project, :category, inplace_params('input','category')
      %h5.info-title
        Location
      %a{:id => 'location'}edit
      %h2.info-detail
        = best_in_place @project, :location, inplace_params('input','location')
      %h5.info-title
        Status
      %a{:id => 'status'}edit
      %h2.info-detail
        = best_in_place @project, :status, select_inplace_params
      %h5.info-title
        Budget
      %a{:id => 'budget'}edit
      %h2.info-detail
        $
        =  best_in_place @project, :budget, inplace_params('input','budget')
      %h5.info-title
        Followers
      %h2.info-detail
        number of followers
      %h5.info-title
        Date Posted
      %h2.info-detail
        = @project.created_at.strftime('%m/%d/%Y')
      %h5.info-title
        Deadline
      %a{:id => 'deadline'}edit
      %h2.info-detail
        = best_in_place @project, :deadline, inplace_params('date','deadline')
      %div#join
        = button_to "Join This Project", project_path(@project.id), :class => "btn btn-lg", :id => "join-button", :method => 'get'

  = button_to "<< Back", project_path, :class => "btn btn-md", :method => 'get', :id => "back-button"
