%div.col-md-8.col-md-offset-2#project-div

  %div.row.header-block#pic-n-info
    %div.col-md-3.col-sm-2.col-xs-2#image-div
      =image_tag "lorem-ipsum.jpg", :id => "ourimage"
    %div.col-md-6
      %h1#name1
        = @project.name
      %h3#organization
        = link_to @project.organization, project_path(@project.id)
      %h4#blurb
        = @project.blurb
    %div.col-md-1
      -if logged_in_as_project_owner(@project)
        = link_to 'Edit Project', edit_project_path(@project), {:id => 'back-button', :class => 'btn btn-large'}

  %div.row#pic-n-info2

    %div.col-md-7.info-block#left-block
      %h3
        %b
          Mission
      %h4
        = @project.nonprofit_mission
      %h3
        %b
          Description
      %h4
        = @project.description

    %div.col-md-4.info-block#right-block
      %h5.info-title
        Category
      %h2.info-detail
        = @project.category
      %h5.info-title
        Location
      %h2.info-detail
        = @project.location
      %h5.info-title
        Status
      %h2.info-detail
        = @project.status
      %h5.info-title
        Budget
      %h2.info-detail
        = "$ #{@project.budget}"
      %h5.info-title
        Followers
      %h2.info-detail
        number of followers
      %h5.info-title
        Date Posted
      %h2.info-detail
        = @project.created_at.strftime('%m/%d/%Y')
      %h5.info-title
        Deadline
      %h2.info-detail
        = @project.deadline
      %div#join
        = button_to "Join This Project", apply_message_path, :class => "btn btn-lg", :id => "join-button", :method => 'post'

  = button_to "<< Back", projects_path, :class => "btn btn-md", :method => 'get', :id => "back-button"

