%div.col-md-8.col-md-offset-2#nonprofit-div
  %div.row.header-block#pic-n-info
    %div.col-md-3.col-sm-2.col-xs-2#image-div
      =image_tag "lorem-ipsum.jpg", :id => "ourimage"
    %div.col-md-6 
      %h1#name
        = @nonprofit.user.name
      %h4#categories
        category HARDCODED
        %a edit
      %h4#location
        location HARDCODED
        %a edit
      %h4
        %b Active Projects:
        = @nonprofit.projects.select {|proj| proj.status != 'Completed'}.count
      %h4
        %b Completed Projects:
        = @nonprofit.projects.select {|proj| proj.status == 'Completed'}.count
  
  %div.row.header-block.profile-block
    %h3.topic
      %b About
      %a{:id => 'about'}edit
    %h4
      = best_in_place @nonprofit, :about, inplace_params('textarea','about')
  
    %h3.topic.extra-space
      %b Links
      %a{:id => 'links'}edit
    %h4
      
  
  %div.row.header-block.profile-block
    %h3.topic
      %b Active Projects
      %a{:id => 'activeprojects'}edit
    %h4
      
     
    %h3.topic.extra-space
      %b Completed Projects
      %a{:id => 'completedprojects'}edit
    %h4

  = button_to "<< Back", nonprofit_path, :class => "btn btn-md", :method => 'get', :id => "back-button"
